

//Sponsors

.liensSponsors {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.partenaire {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    border-radius: 50%;
    border: 2px black solid;
    width: 185px;
    height: 185px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 5px 5px rgba(0,0,0,0.24);
    h3 {
        color: white;
        font-weight: 800;
        display: none;
        width: 100px;
        text-align: center;
    }
    &:hover h3 {
        display: block;
    }
    
}

.multilud {
    background-image: url(../images/multilud.jpg);
    background-size: cover;
    background-position: center;
    &:hover {
        box-shadow: 0 12px 12px rgba(0,0,0,0.12), 0 12px 12px rgba(0,0,0,0.24);
        background-image: lineargradient(rgba(0,0,0,0.5)), url(../images/multilud.jpg);
    }
}

.PCService44 {
    background-image: url(../images/pcs442.jpeg);
    background-size: cover;
    background-position: center;
}